<!DOCTYPE html>
<html lang="en">
<body class="container">


<form action="chat" method="post">
  <label>User Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>


</body>
</html>
